@page
@model WebApp.Pages.ViaDatabase

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
    <div>Welcome @Html.Raw(CustomUser.CurrentCustomUser.Name)</div>
</div>
</body>
</html>