@page
@model WebApp.Pages.ViaDatabaseImage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>

    <img src="@CustomUser.CurrentCustomUser.Image"/>
</div>
</body>
</html>